.letter_0 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -73px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_0:hover {
	background-color: green;
}
.letter_1 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -130px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_1:hover {
	background-color: green;
}
.letter_2 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -186px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_2:hover {
	background-color: green;
}
.letter_3 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -237px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_3:hover {
	background-color: green;
}
.letter_4 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -294px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_4:hover {
	background-color: green;
}
.letter_5 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -348px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_5:hover {
	background-color: green;
}
.letter_6 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -409px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_6:hover {
	background-color: green;
}
.letter_7 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -454px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_7:hover {
	background-color: green;
}
.letter_8 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -513px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_8:hover {
	background-color: green;
}
.letter_9 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -567px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_9:hover {
	background-color: green;
}
.letter_10 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -621px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_10:hover {
	background-color: green;
}
.letter_11 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -675px -538px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_11:hover {
	background-color: green;
}
.letter_12 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -24px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_12:hover {
	background-color: green;
}
.letter_13 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -78px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_13:hover {
	background-color: green;
}
.letter_14 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -131px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_14:hover {
	background-color: green;
}
.letter_15 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -187px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_15:hover {
	background-color: green;
}
.letter_16 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -239px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_16:hover {
	background-color: green;
}
.letter_17 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -294px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_17:hover {
	background-color: green;
}
.letter_18 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -347px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_18:hover {
	background-color: green;
}
.letter_19 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -401px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_19:hover {
	background-color: green;
}
.letter_20 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -462px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_20:hover {
	background-color: green;
}
.letter_21 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -511px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_21:hover {
	background-color: green;
}
.letter_22 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -567px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_22:hover {
	background-color: green;
}
.letter_23 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -621px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_23:hover {
	background-color: green;
}
.letter_24 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -682px -590px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_24:hover {
	background-color: green;
}
.letter_25 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -157px -640px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_25:hover {
	background-color: green;
}
.letter_26 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -205px -640px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_26:hover {
	background-color: green;
}
.letter_27 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -264px -640px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_27:hover {
	background-color: green;
}
.letter_28 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -313px -640px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_28:hover {
	background-color: green;
}
.letter_29 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -364px -640px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_29:hover {
	background-color: green;
}
.letter_30 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -430px -640px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_30:hover {
	background-color: green;
}
.letter_31 {
	display: inline-block;
	background: url(/img/letters.png);
	background-color: grey;
	background-position: -476px -641px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_31:hover {
	background-color: green;
}
.letter_32 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -306px -371px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_32:hover {
	background-color: green;
}
.letter_33 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -107px -14px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_33:hover {
	background-color: green;
}
.letter_34 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -295px -150px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_34:hover {
	background-color: green;
}
.letter_35 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -348px -150px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_35:hover {
	background-color: green;
}
.letter_36 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -402px -150px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_36:hover {
	background-color: green;
}
.letter_37 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -457px -150px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_37:hover {
	background-color: green;
}
.letter_38 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -512px -150px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_38:hover {
	background-color: green;
}
.letter_39 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -560px -150px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_39:hover {
	background-color: green;
}
.letter_40 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -2px -222px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_40:hover {
	background-color: green;
}
.letter_41 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -60px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_41:hover {
	background-color: green;
}
.letter_42 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -109px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_42:hover {
	background-color: green;
}
.letter_43 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -143px -225px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_43:hover {
	background-color: green;
}
.letter_44 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -189px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_44:hover {
	background-color: green;
}
.letter_45 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -240px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_45:hover {
	background-color: green;
}
.letter_46 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -291px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_46:hover {
	background-color: green;
}
.letter_47 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -356px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_47:hover {
	background-color: green;
}
.letter_48 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -415px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_48:hover {
	background-color: green;
}
.letter_49 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -472px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_49:hover {
	background-color: green;
}
.letter_50 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -527px -222px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_50:hover {
	background-color: green;
}
.letter_51 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -581px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_51:hover {
	background-color: green;
}
.letter_52 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -627px -223px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_52:hover {
	background-color: green;
}
.letter_53 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -1px -294px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_53:hover {
	background-color: green;
}
.letter_54 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -55px -294px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_54:hover {
	background-color: green;
}
.letter_55 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -109px -294px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_55:hover {
	background-color: green;
}
.letter_56 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -154px -263px;
	background-size: 618px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_56:hover {
	background-color: green;
}
.letter_57 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -238px -294px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_57:hover {
	background-color: green;
}
.letter_58 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -292px -294px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_58:hover {
	background-color: green;
}
.letter_59 {
	display: inline-block;
	background: url(/img/letters_english.png);
	background-color: grey;
	background-position: -344px -294px;
	background-size: 687px;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_59:hover {
	background-color: green;
}
.letter_999 {
	display: inline-block;
	background: url(/img/star_transparent.png);
	background-color: grey;
	background-position: center center;
	background-size: 30px;
	background-repeat: no-repeat;
	width: 44px;
	height: 54px;
	border-radius: 5px;
}

.letter_999:hover {
	background-color: green;
}
.letter_9999 {
	display: inline-block;
	background: url(/img/star_transparent.png);
	background-color: grey;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 76px;
	height: 92px;
	border-radius: 5px;
}

.letter_9999:hover {
	background-color: green;
}

/* -------------------------------------------------------------------------- */
/*                                     new                                    */
/* -------------------------------------------------------------------------- */
.modal-dialog.modal-settings {
	max-width: 430px;
}
.modal-settings .modal-content {
	background-image: url(../images/settings-bg.png);
	background-position: center;
	background-size: cover;
	max-width: 430px;
	border-radius: 0;
}
.modal-settings .modal-body {
	overflow-y: auto;
}
.modal-settings .modal-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
	border-radius: 0;
}
.modal-settings .modal-footer {
	border-top: none;
	margin: 0;
	/* padding: 0; */
	border-radius: 0;
}

.modal-settings .modal-body,
.modal-settings .modal-footer {
	padding-left: 16px;
	padding-right: 16px;
}

.modal-settings .modal-footer {
	padding-left: 42px;
	padding-right: 42px;
	padding-bottom: 46px;
	padding-top: 40px;
}

.box {
	border-radius: 14px;
	padding: 8px 26px;
	background: hsla(227, 56%, 21%, 0.75);
	color: #fff;
	margin-bottom: 22px;
	font-size: 11px;
	font-weight: 900;
}
.modal-settings .modal-footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.modal-settings .modal-footer::before {
	content: '';
	position: absolute;
	left: 16px;
	right: 16px;
	top: 0;
	bottom: 16px;
	display: block;
	border-radius: 14px;
	padding: 8px 26px;
	background: hsla(227, 56%, 21%, 0.75);
	z-index: 0;
}

.modal-settings .modal-footer > * {
	position: relative;
}

.modal-settings .modal-footer .btn {
	flex: 0 0 110px;
	padding-left: 2px;
	padding-right: 2px;
	width: auto;
}

.box .text-accent {
	color: #bdcb34;
}

.box .btn,
.modal-settings .btn {
	color: #fff;
	border-radius: 6px;
	border: 2px solid #4b9c90;
	background: rgb(75, 118, 177);
	background: radial-gradient(circle, rgba(75, 118, 177, 1) 0%, rgba(36, 64, 99, 1) 100%);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	font-size: 12px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.modal-settings a.btn {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.modal-settings a.btn:after {
	content: '';
	height: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 0;
}

.box .btn:hover,
.modal-settings .btn:hover {
	color: #fff;
	background: radial-gradient(circle, rgb(56, 89, 134) 0%, rgb(21, 38, 58) 100%);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
}

.modal-settings .btn.btn-tg {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	min-height: 34px;
}
.modal-settings .btn.btn-tg::after {
	content: '';
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-left: 4px;
	background: url(../images/tg.png) center center no-repeat;
}

.box-heading {
	text-transform: uppercase;
}

.box-title-wrap {
	font-weight: 900;
	text-align: center;
	margin-bottom: 10px;
}

.box [type='radio'] {
	display: none;
}

.box .form-check {
	width: 124px;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.box .label-row {
	display: flex;
	justify-content: space-between;
	gap: 6px;
}
.box label {
	cursor: pointer;
	display: block;
	/* width: 124px; */
	width: 100%;
	padding-bottom: 1px;
	text-align: center;
	border-radius: 10px;
	font-size: 11px;
	font-weight: 900;
	border: 1px solid #909dcd;
}
.box-rating .form-check {
	margin-bottom: 10px;
}
.icon.icon-arrow:before {
	content: '';
	display: block;
	width: 26px;
	height: 12px;
	margin-right: 8px;
	background: url(../images/arrow.png) 0 0 no-repeat;
}

.box [type='radio']:checked + label {
	border: 3px solid #30b367; /*#4b9c90;*/
}
.time-img-wrap {
	width: 42px;
}
@media (max-width: 575px) {
	.modal-settings .modal-footer {
		justify-content: center;
	}
}
/* -------------------------------------------------------------------------- */
/*                                   END NEW                                  */
/* -------------------------------------------------------------------------- */

.modal-profile .box {
	padding-left: 6px;
	padding-right: 6px;
}
.modal-settings .modal-footer {
}
.modal-settings .modal-footer::before {
	left: 16px;
	right: 16px;
	top: 0;
	bottom: 10px;
	display: block;
	border-radius: 14px;
	padding: 8px 6px;
}
.modal-settings.modal-profile .modal-footer {
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 24px;
	padding-top: 14px;
}
.modal-settings .box-top {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.modal-settings .box-bottom {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 15px;
	padding-bottom: 38px;
	margin-bottom: 10px;
}
.main-info-image-wrap {
	flex: 0 1 160px;
}
.main-info-image {
	display: block;
	max-width: 140px;
	max-height: 100px;
	inset: 0;
	margin: auto;
}
.main-info-id {
	font-style: italic;
	margin-bottom: 30px;
}
.main-info-id span {
	font-style: normal;
	margin-left: 10px;
	font-size: 13px;
	font-weight: bold;
}
.modal-profile .file-label {
}
label.file-label {
	display: flex;
	flex-wrap: nowrap;
}
label.file-label:before {
	content: 'выбрать файл';
	display: block;
	font-size: 9px;
	padding: 1px 3px 0;
	border-radius: 10px;
	margin-top: -1px;
	margin-bottom: -2px;
	margin-left: -1px;
	flex: 0 0 auto;
	border: 2px solid #909dcd;
	max-width: 60px;
	line-height: 1.2;
	transition: background 0.3s ease;
}
label.file-label [type='file'] {
	cursor: pointer;
	display: flex;
	height: auto;
	background: transparent;
	color: #909dcd;
	padding: 0;
	margin-left: 8px;
	align-self: center;
	border: 0;
	font-weight: bold;
	font-size: 13px;
	border: none !important;
}
label.file-label [type='file']::file-selector-button {
	display: none;
}
label.file-label [type='file']:focus,
.modal-settings label.file-label [type='file']:focus {
	/* display: none; */
	/* visibility: hidden; */
	background: transparent;
	outline: none;
	box-shadow: none;
}
label.file-label:hover:before,
label.file-label:active:before {
	background: #909dcd;
}
.modal-settings .btn.btn-sm,
.modal-settings .btn.btn-sm.modal-footer {
	min-width: 80px;
	width: auto;
	height: auto;
	padding: 0;
	min-height: 30px;
	font-size: 11px;
	align-self: start;
	flex-basis: 80px;
}
.modal-profile .nickname {
	display: block;
	font-size: 16px;
	text-decoration: underline;
	color: #4ddb62;
	text-align: center;
}
.flex-eq {
	flex: 1 1 80px;
}
.nickname-inpit-wrap {
	flex: 1 1 228px;
	padding: 0 3px;
}
.modal-settings input.form-control {
	display: block;
	border: 1px solid #909dcd;
	background: transparent;
	border-radius: 10px;
	padding: 5px 8px;
	font-size: 15px;
	line-height: 1.2;
	height: auto;
	font-weight: bold;
}
.modal-settings input.form-control::placeholder {
	color: #909dcd;
	font-weight: bold;
}
.modal-settings input.form-control:focus {
	background: #fff;
}
.modal-profile .rating-list-wrap {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.modal-profile .rating-list {
	flex: 0 1 228px;
	margin: 0;
	padding: 0 5px;
}
.modal-profile .rating-list li {
	position: relative;
	margin: 6px 0;
}
.modal-profile .rating-list .label {
	align-self: center;
}
.modal-profile .rating-list .pill {
	margin-left: auto;
}
.modal-profile .pill {
	display: block;
	border-radius: 10px;
	border: 1px solid #909dcd;
	min-width: 90px;
	text-align: center;
	padding: 1px;
	font-weight: 900;
	font-size: 11px;
	align-self: start;
	min-height: 20px;
}
.modal-profile .rating-list .icon.icon-coin {
	display: block;
	height: 0;
	margin-top: 0;
	overflow: visible;
	margin-left: auto;
	align-self: center;
}
.modal-profile .rating-list .icon.icon-coin:before {
	content: '';
	display: block;
	margin-top: -18px;
	width: 36px;
	height: 36px;
	background: url(../images/coin.png) center no-repeat;
	background-size: cover;
}
.modal-settings .modal-dialog {
	max-width: 430px;
}

.tab-content-wrap {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}
.tab-content {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	/* width: 100%; */
	overflow-x: hidden;
	transform: translate(0, 0);
}

.tab-content > .tab-pane {
	display: block;
	/* width: 100%; */
	/* flex: 0 0 100%; */
	/* visibility: hidden; */
	/* margin-left: -9999px; */
}

.tab-content > .tab-pane.active {
	visibility: visible;
	margin-left: 0;
}

.tg-input-wrap {
	flex: 1 1 204px;
	padding: 0 5px;
}

.modal-profile input {
	color: #909dcd;
}
.tg-input-wrap input {
	height: 20px;
	align-self: center;
}

.icon.icon-copy {
	display: block;
	width: 24px;
	height: 30px;
	margin-left: 5px;
	margin-right: 4px;
}
.modal-profile .icon.icon-copy:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/copy.png) center no-repeat;
	background-size: cover;
}
.wallet-info-wrap {
	/* display: flex; */
	position: relative;
	flex: 1 1 auto;
	margin-top: 4px;
	padding-right: 8%;
}
.wallet-info-wrap > div:not(:last-child) {
	position: relative;
	margin-bottom: 20px;
}
.wallet-info-wrap .label {
	display: block;
	flex: 1 1 auto;
}
.wallet-info-wrap > div:first-child .pill:before {
	content: '';
	position: absolute;
	display: block;
	/* right: 94px; */
	top: 100%;
	left: -50px;
	margin-top: -7px;
	width: 36px;
	height: 36px;
	background: url(../images/coin.png) center no-repeat;
	background-size: cover;
}
.wallet-info-wrap > div:first-child .pill:after {
	content: '';
	position: absolute;
	display: block;
	/* right: 94px; */
	top: 100%;
	left: 100%;
	margin-top: -2px;
	width: 34px;
	height: 32px;
	background: url(../images/arrow-down.png) center no-repeat;
	background-size: cover;
	margin-left: -12px;
}
.wallet-info-wrap .pill {
	display: block;
	position: relative;
	flex: 0 1 90px;
	min-width: auto;
	text-wrap: nowrap;
}
.referrals-tab-pane .table-heading {
	text-decoration: underline;
	display: block;
}

.referrals-tab-pane .table-heading:first-of-type {
	margin-left: 11%;
}
.referral-list {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 400px;
	overflow-y: auto;
	overscroll-behavior: contain;
	scroll-snap-type: both mandatory;
	scrollbar-color: #8585ad hsla(227, 56%, 21%, 0.75);
	scrollbar-width: thin;
}

.referral-list li {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	scroll-snap-align: start;
}
.referral-list li:last-of-type {
	margin-bottom: 0;
}
.referral-list .name {
	text-overflow: ellipsis;
	overflow: hidden;
}
.referral-list .pill-wrap {
	margin-left: auto;
	flex: 0 0 116px;
	align-self: stretch;
	display: flex;
	flex-wrap: nowrap;
}
.referral-list .pill-wrap:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	background: url(../images/coin.png) 0 0 no-repeat;
	background-size: cover;
}

.referral-list::-webkit-scrollbar {
	width: 14px;
}
.referral-list::-webkit-scrollbar-corner {
	background: hsla(227, 56%, 21%, 0.75);
}
.referral-list::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 30px;
	border: 4px solid hsla(227, 56%, 21%, 0.75);
	background-clip: content-box;
	/* min-width: 22px; */
	min-height: 22px;
}
.referral-list::-webkit-scrollbar-track {
	background-color: hsla(227, 56%, 21%, 0.75);
}

.referral-list .pill {
	display: block;
	min-height: 20px;
}

.modal-profile .nav-tabs {
	display: flex;
	flex-wrap: nowrap;
	border: none;
}
.modal-profile .nav-item {
	flex: 0 1 100px;
	width: auto;
	/* min-width: max-content; */
	/* max-width: min(100px, max-content); */
	justify-content: flex-start;
	text-transform: uppercase;
	position: relative;
	background: linear-gradient(90deg, #254563, #52d07a) no-repeat;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.modal-profile .nav-tabs .nav-item.show .nav-link,
.modal-profile .nav-tabs .nav-link,
.modal-profile .nav-tabs .nav-link.active {
	display: block;
	position: relative;
	padding: 7px 2px;
	text-align: center;
	color: #fff;
	z-index: 1;
	background: transparent;
	border: none;
}

.modal-profile .nav-item::after {
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 2px;
	right: 3px;
	background: #1e2d59;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	z-index: 0;
}
.modal-profile .nav-item:has(.nav-link.active)::after {
	bottom: 0;
}
