<!DOCTYPE html>
<html lang="ru">
  <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Barabarella</title>
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

  <body class="page page--final">
    <header class="page__header header">
  <div class="wrapper">
    <div class="header__container">
      <object class="header__logo" data="img/logo.svg" type="image/svg+xml"></object>
    </div>
  </div>
</header>

    <main class="page__main main">
      <div class="wrapper">
        <div class="main__container">
          <div class="main__execution main-row execution">
            <p class="execution__text">
              Ваш заказ № 874543 принят в обработку Как только мы получим оплату
              и выкупим для вас товар он будет отправлен выбранным вами способом
              на указанный адрес.
              <br />
              <br />
              Как только мы отправим ваш заказ вы получите трекинг намба на ваш
              email.
              <br />
              <br />
              Спасибо. До новых встреч в нашем магазине. Следите за обновлениями
              в нашем Instagram.
              <br />
              <br />
              <br />
              <span>
                Какой-то вот такой успокаивающий текстик на финалочке после
                “оформить заказ”
              </span>
            </p>
          </div>
        </div>
      </div>
    </main>
    
    <script src="js/app.min.js"></script>
  </body>
</html>
